// ########################################################
// ##                   Navigation                       ##
// ########################################################

.nav {
  background-color: $second-color;
}

.nav__container {
  @extend %container-std;
  padding: 15px 0;
}

.nav__list {
  @include gridle_grid(12);
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__item {
  display: inline-block;
  margin: 0;
}

.nav__link {
  display: inline-block;
  margin: 0 5px;
  color: $font-color-dark;
  text-decoration: none
}
