html
  head
    block head
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    include ../views/nav/nav.jade
    include ../views/header/header.jade
    block content
    include ../views/follow-me/follow-me.jade
    include ../views/footer/footer.jade
    block scripts
