// ########################################################
// ##                 Import basics                      ##
// ########################################################

@import '~sasslib';

// ########################################################
// ##               Import open sans                     ##
// ########################################################

$open-sans-path: '~open-sans/fonts';
@import '~open-sans/scss/base';
@import '~open-sans/scss/regular';
@import '~open-sans/scss/light';
@import '~open-sans/scss/semibold';

// ########################################################
// ##               General body styling                 ##
// ########################################################

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
}
