nav: 
  # Navigation items
  navitems: [
    {
      name: "home"
      link: "home"
    }
    {
      name: "snippets"
      link: "snippets"
    }
    {
      name: "about"
      link: "about"
    }
    {
      name: "follow me"
      link: "follow-me"
    }
  ]
