// ########################################################
// ##                  Main Colors                       ##
// ########################################################

$main-color: #84DC87;
$second-color: #8FC691;

$yellow: #F0ED94;

// ########################################################
// ##                  Font Colors                       ##
// ########################################################

$font-color-dark: #4A4A4A;
$font-color-light: #F2F2F2;
