.follow-me
  .follow-me__container
    .follow-me__title follow me
    .follow-me__social-icons
      each icon in followme.icons
        a.follow-me__link(href="#{icon.url}", target="_blank")
          span.follow-me__item.fa.fa-3x(class="fa-#{icon.icon}")
