doctype html
html
  head
    block head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // build:css vendor.css
    link(rel="stylesheet", type="text/css", href="bower_components/Materialize/dist/css/materialize.css")
    // endbuild
    link(rel="stylesheet", type="text/css", href="style.min.css")
  body
    include ../views/navbar.jade
    
    .container
      block content
      
    // build:js vendor.js
    script(type="text/javascript", src="bower_components/Materialize/dist/js/materialize.js")
    // endbuild
    // build:js app.js
    // endbuild
