doctype html
html(ng-app="AtmApp")
  head
    block head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // build:css vendor.css
    link(rel="stylesheet", type="text/css", href="bower_components/Materialize/dist/css/materialize.css")
    // endbuild
    link(rel="stylesheet", type="text/css", href="style.min.css")
  body(ng-controller="AtmController")
    include ../views/navbar.jade
    
    .container
      block content
      
    // build:js vendor.js
    script(type="text/javascript", src="bower_components/angular/angular.js")
    script(type="text/javascript", src="bower_components/angular-restmod/dist/angular-restmod-bundle.js")
    script(type="text/javascript", src="bower_components/jquery/dist/jquery.js")
    script(type="text/javascript", src="bower_components/Materialize/dist/js/materialize.js")
    // endbuild
    // build:js app.js
    script(type="text/javascript", src="app/scripts/app.js")
    script(type="text/javascript", src="app/scripts/services/rest.js")
    script(type="text/javascript", src="app/scripts/controller/atm.js")
    // endbuild
