- require('./header.scss')
- var data = require('./header.cson')

header.header
  .header__container
    .header__profile
    .header__title #{data.title}
    .header__description #{data.description}
