extends ./layout/base.jade

//- Head 
block head
  title ATM finder

//- body 
block content
  div(ng-repeat="item in list")
    p {{ item.name }}
    address 
      {{ item.street }}
      br
      {{ item.plz }}
      br
      {{ item.city }}
