.latest-tweet
  .latest-tweet__container
    .latest-tweet__title #{latesttweet.title}
    #tweet.latest-tweet__tweet #{latesttweet.dummy}
    a(href="#{latesttweet.button.url}", target="_blank").latest-tweet__button #{latesttweet.button.text}
