<footer>
	<!-- ICONS: https://www.iconfinder.com/iconsets/miu-social -->
	<section class="footer__wrapper">
		<ul class="footer__social-list">
			{{ with .Site.Params.github }}
			<li class="footer__social-item">
				<a class="footer__social-link" href="{{ . }}" target="blank"><img class="footer__social-icon" src="/images/github.svg" /></a>
			</li>
			{{ end }} {{ with .Site.Params.twitter }}
			<li class="footer__social-item">
				<a class="footer__social-link" href="{{ . }}" target="blank"><img class="footer__social-icon" src="/images/twitter.svg" /></a>
			</li>
			{{ end }} {{ with .Site.Params.email }}
			<li class="footer__social-item">
				<a class="footer__social-link" href="mailto:{{ . }}"><img class="footer__social-icon" src="/images/mail.svg" /></a>
			</li>
			{{ end }}
		</ul>
	</section>
</footer>

{{ with .Site.GoogleAnalytics }}
<script>
	(function (i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
	ga('create', '{{ . }}', 'auto');
	ga('send', 'pageview');

</script>
{{ end }}

</body>

</html>