doctype html
html
  head
    include ../../libs/jadelib/commons/layout-head.jade
  body
    include ../../views/nav/nav.jade
    include ../../views/header/header.jade
    block content
    include ../../libs/jadelib/commons/layout-footer.jade
