nav
  .nav-wrapper.container
    a.brand-logo(href='#') ATM finder
    ul#nav-mobile.right.hide-on-med-and-down
      li
        a(href='/') home
      li
        a(href='/') banks
      li
        a(href='/') atms
